section{
    width: 50%;
    height: fit-content;
    padding: 20px;
    border-radius: 5px;
    margin:50px auto;
}
button{
    padding: 10px 20px;
    border-radius: 6px;
    font-weight: bold;
    background-color: rgb(13, 110, 253);
    color: #fff;
    border: none;
}

.secDiv, .inpDiv{
    width: 80%;
    margin: 20px auto;
    text-align: center;
}
input{
    opacity: 0;
    width: 90%;
}
.secTwo{
    opacity: 0;
}

/* Media Query */
@media (max-width: 580px) {
    section{
        width: 90%;
    }
}